@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



.navigation {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    align-items: stretch;
}

.left {
    font-size: 30px;
    font-weight: 500;
}

.middle {
    display: flex;
    gap: 15px;
    list-style: none;

}

.middle li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.right button {
    background-color: #485C11;
    color: white;
    width: 127px;
    height: 48px;
    border-radius: 25px ;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-main {
    width: 1200px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.hero-content h1 {
    font-size: 85px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}

.hero-main img {
    width: 907px;
    position: absolute;
    top: 190px;
}

.bg-photo {
    height: 362px;
    width: 1200px;
    background-color: #8e9c78;
    margin-top: 150px;
    border-radius: 30px;
   
}

.partners {
    display: flex;
    justify-content: center;
}

.partners-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1200px;
    height: 235px;
    
}

.partners-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.5%;
    color: #6f6f6f;
}

.partners-logos {
    display: flex;
    justify-content: space-between;
}